<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile - Global Study Center</title>
    <!-- ---------------------Linking Css--------------------- -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- ----------------------------Google Fonts--------------------- -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <!-- ------------------------font awesome------------------------ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<!-- -----------------------------Registration Form------------------------- -->

<section id="CurriculumRegister">
    <div id="text_info_web" class="currWebInfo">
      <h1>Edit Your Profile</h1>
      <p>Dear Students, Some informations cannot be edit.
        <strong>It can only be done through office.</strong>
      </p>
    </div>

    <div class="contact_page">
      <form action="/update/<%= user._id %>" method="POST" class="currInput">

        <input type="text" name="name" placeholder="Your Name" autocomplete="off" value="<%= user.name %>" required>

        <input type="email" name="email" placeholder="Email" autocomplete="off" readonly value="<%= user.email %>">

        <input type="text" name="course" placeholder="Course" autocomplete="off" readonly value="<%= user.course %>">

        <input type="text" name="address" placeholder="Address" autocomplete="off" value="<%= user.address%>" required>
        
        <input type="number" name="phone" placeholder="Mobile Number" autocomplete="off" readonly value="<%= user.phone %>">

        <input type="submit" value="Update Now">
      </form>
    </div>
</section>



    <script src="/javascripts/script.js"></script>
</body>
</html>